<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles.css">
    <style>
        body {
            background-color: #85144b;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <main>
        <form action="/newuser" method="POST">
            <div class="container">
                <h1>Create new user</h1>
                <label for="username">Username</label>
                <div class="input-container">
                    <i class="fa fa-user icon">
                    </i> <input class="input-field" type="text" id="username" name="username" required autofocus />
                </div>
                <label for="password">Password</label>
                <div class="input-container">
                    <i class="fa fa-key icon"></i>
                    <input class="input-field" id="password" type="password" name="password">
                    <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"
                        onclick="myFunction()"></span>
                </div>
                <div id="errorMessage">
                </div>
                <a class="forgotIt" href="http://localhost:3003">Back to login page</a>
                <input class="pressMe" type="submit" value="Create">
            </div>
        </form>
    </main>
    <script type="text/javascript" src="/js/reg.js"></script>
</body>

</html>