.container {
  display: flex;
  flex-direction: row-reverse;
}

.item_green {
    background-color: green;
    width: 25%;
    height: 300px;
}

.item_yellow {
    background-color: yellow;
    width: 50%;
    height: 300px;
}

.item_purple {
    background-color: purple;
    width: 25%;
    height: 300px;
}

body {
  margin: 0;
  padding:  0;
}