<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foxplayer</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main>
        <div class="container">
            <div class="logoNotification">
                <span>
                    <img src="./foxplayer.png">
                </span>
                <span>Playlist</span>
                <span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>

            <div class="playlist">
                <div>All tracks</div>
                <div>Favourites</div>
                <div>
                    <span>Relaxing music for programing</span>
                    <span>
                        <i class="fa fa-times"></i>
                    </span>
                </div>
                <div>
                    <span>Party</span>
                    <span>
                        <i class="fa fa-times"></i>
                    </span>
                </div>
            </div>

            <div class="artwork">
                <img src="https://lastfm-img2.akamaized.net/i/u/770x0/391c5599d9b446e0b0a51c957d647caf.jpg">
            </div>

            <div class="currentlyPlaying">
                <span>Meddler</span>
                <span>August Burns Red</span>
                <i class="fa fa-plus"></i>
                <span><img src="./star.svg" alt=""></span>
            </div>

            <div class="tracks">
                <div>
                    <span class="trackNumber">1</span>
                    <span>Thirty and Seven</span>
                    <span class="trackLength">3:18</span>
                </div>
                <div>
                    <span class="trackNumber">2</span>
                    <span>Existence</span>
                    <span class="trackLength">3:53</span>
                </div>
                <div>
                    <span class="trackNumber">3</span>
                    <span>Ocean of Apathy</span>
                    <span class="trackLength">3:56</span>
                </div>
                <div>
                    <span class="trackNumber">4</span>
                    <span>White Washed</span>
                    <span class="trackLength">3:46</span>
                </div>
                <div>
                    <span class="trackNumber">5</span>
                    <span>Marianas Trench</span>
                    <span class="trackLength">4:18</span>
                </div>
                <div>
                    <span class="trackNumber">6</span>
                    <span>The Escape Artist</span>
                    <span class="trackLength">3:57</span>
                </div>
                <div>
                    <span class="trackNumber">7</span>
                    <span>Indonesia</span>
                    <span class="trackLength">3:34</span>
                </div>
                <div>
                    <span class="trackNumber">8</span>
                    <span>Paradox</span>
                    <span class="trackLength">3:18</span>
                </div>
                <div>
                    <span class="trackNumber">9</span>
                    <span>Meridian</span>
                    <span class="trackLength">5:59</span>
                </div>
                <div>
                    <span class="trackNumber">10</span>
                    <span>Rationalist</span>
                    <span class="trackLength">2:38</span>
                </div>
                <div>
                    <span class="trackNumber">11</span>
                    <span>Meddler</span>
                    <span class="trackLength">3:53</span>
                </div>
                <div>
                    <span class="trackNumber">12</span>
                    <span>Crusades</span>
                    <span class="trackLength">5:11</span>
                </div>
            </div>

            <div class="controlPanel">this is going to be the control panel</div>
        </div>
    </main>
    <script type="text/javascript" src='/index.js'></script>
</body>

</html>