.container {
  display: flex;
  flex-direction: column;
  height: 650px;
}

.item_green {
    background-color: green;
    width: 300px;
    height: 25%;
}

.item_yellow {
    background-color: yellow;
    width: 300px;
    height: 50%;
    order: 1;
}

.item_purple {
    background-color: purple;
    width: 300px;
    height: 25%;
}

body {
  margin: 0;
  padding:  0;
}