.container {
  display: flex;
  height: 650px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

.item {
    background-color: purple;
    width: 200px;
    height: 200px;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: yellow;
}