.container {
  background-color: yellow;
  display: flex;
  height: 654px;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  justify-content: flex-end;
}

.item {
  background-color: purple;
  width: 200px;
  height: 200px;
  margin-left: 5px;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
}