<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot password</title>
</head>

<body>
    <main>
        <form action="/giefpass" method="POST">
            <h1>Please provide your username</h1>
            <label for="username">Username</label>
            <input class="input-field" type="text" id="username" name="username">
            <input class="pressMe" type="submit" value="Show password">
        </form>
    </main>
</body>

</html>