<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Not unique username</title>
</head>

<body>
    <main>
        This username is already in use, please choose an other one
        <input type="button" value="register" onclick="location.href = 'http://localhost:3008/register'" />
    </main>
</body>

</html>