.container {
  height: 866px;
  width: 1820px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

body {
  width: 1870px;
  height: 846px;
  margin: 50px;
}

.header {
  height: 10%;
  width: 100%;
  background-color: purple;
  display: flex;
  flex-direction: row;
}

.main {
  height: 90%;
  width: 100%;
  flex-direction: row;
  display: flex;
}

.item_yellow {
width: 67%;
background-color: yellow;
}

.item_green {
width: 33%;
background-color: green;
}

ul {
  list-style-type: none;
}

.cyan {
  background-color: cyan;
  width: 10%;
  margin: 20px;
}